
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:rgba(170, 187,97, 0.5);
    border: 5px solid #ddd;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    
  }
  
  h1 {
    text-align: center;
  }
  
  .input-section {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="number"] {
    width: 200px;
    padding: 5px;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #32b136;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .fontawesomesvg {width: 1em;
    height: 1em;
    vertical-align: -.125em;
  }
  .body{
    background-image: url("temp.jpg");
     
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  }
  #fahrenheit{
    margin-left: 25px;
  }